  /* Main */
  
  .main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 100%;
  }


  /* Filters */

  .filters{
    display: flex;
    gap: 10px;
    height: 30px;
  }

  .input {
    width: 200px;
    height: auto;
    padding: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
  }
  
  .input:focus {
    border-color: #B0A695;
  }

  
  .dateSortButton{
    width: 70px;
    height: 100%;
    font-size: 10pt;
    padding: 5px;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #B0A695;
    color: white;
    border-radius: 4px;
  }

  .dateSortButton:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(176,166,149,1) 0%, rgba(119,107,93,1) 100%);
  }

  .dateSortButton:active{
    transform: translate(0em, 0.2em);
  }

  .ReadMoreBlogsButton {
    cursor: pointer;
    font-weight: 700;
    transition: all .2s;
    padding: 10px 7px;
    border-radius: 10px;
    background: #B0A695;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    width: 150px;
    margin: 1rem auto;
    color: white;
  }
  
  .ReadMoreBlogsButton:hover {
    background: #B0A695;
  }
  
  .ReadMoreBlogsButton:active {
    transform: scale(0.95);
  }
  
  
  
  /* Blog section */

  .blogSectionMain{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    gap: 15px;
  }
  
  .blogSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    position: relative;
  }


  .imgBlog{
    max-width: 100%;
    display: block;
    height: 100%; /* al er toch iets mis is gewoon terug naar auto zetten */
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .imgSection{
    width: 300px;
    height: 200px;
    margin-bottom: 1rem;
  }

  .category{
    text-align: center;
    color: white;
    font-size: 10pt;
    margin: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    background: #B0A695;
    width: 35%;
  }

  .textSection{
    color: #141E20;
    padding: 1rem;
    margin-top: -0.5rem;
  }

  .nameTimeSection{
   margin: 1rem;
   display: flex;
   flex-direction: column;
   color: #141E20;
  }

  .author{
    margin: 0;
  }

  .time{
    margin-top: 0.2rem;
    font-size: 10pt;
  }
  .readMoreLink{
    margin-left: auto;
    margin-top: -1.5rem;
  }

  .readMoreButton {
    font-size: 10pt;
    padding: 5px;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #B0A695;
    color: white;
    border-radius: 4px;
  }

  .readMoreButton:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(176,166,149,1) 0%, rgba(119,107,93,1) 100%);
  }

  .readMoreButton:active{
    transform: translate(0em, 0.2em);
  }

  .link{
    text-decoration: none;
    color: black;
  }

  

  @media screen and (max-width: 700px) {
    .blogSection{
      margin: 0;
    }
  }